.home .title {
	font-size: 3rem;
	font-weight: 300;
	line-height: 1.2;
	text-align: center;
}

.home .subtitle {
	text-align: center;
	font-size: 1.1rem;
}

.ead {
	display: block;
	margin-left: auto;
	margin-right: auto;
	max-width:550px;
    max-height:500px;
    width: auto;
    height: auto;
}

.reference {
	text-align: center;
	font-size: 0.7rem;
}
